body{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    
}
main{
    display: flex;
    flex-direction: row;
    background-color: #c4c4c4;
}
aside{
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    max-width: 300px;
    background-color: #00C2F7;
}
#colonne_droite{
    max-width: 800px;
    padding-left: 20px;
    width: 65%;
}

#en-tête{
    background-image: url(/img/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(242, 246, 250);
    margin-left:  -20px;
    margin-top: -20px;
    height: 190px;
    
}
#en-tête>h2{
    text-align: end;
    padding-right: 5px;
}
h1{
    text-align: center;
    padding-top: 20px;
}
.h3{
    background-color: #54595c;
    color: #fff;
    margin: 0px -20px;  
    padding-left: 20px; 
}
.contact_liste{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#Contact{
    margin-left: -30px;
}
